body{
    
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
}   
.container{
    background: linear-gradient(to right,#4facfe,#43e97b);
    width: 1100px;
    height: 700px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container h2{
    text-align: center;
    color: rgb(127, 31, 244);
    font-weight: bolder;
}
.container p{
    text-align: center;
}
.card{
    background-color: white;
    width:40%;
    height:40%;
    margin-left:50px
}
.card img{
    margin-left:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%
}
img{
    margin-top: 3px;
}
.rightcontainer{
    display: flex;
    
}
