*{
    margin: 0;
    padding: 0;
}

.iconcontainer{
    margin-right: 100px !important;
}
.iconcontainer i{
    margin-left: 40px;
}
nav{
    margin-left: -90px !important;
    height: 40px !important;
    width: 1470px !important;
    background-color: red !important;
}
.logo{
    display: flex;
    
    background-color: red;
}
.logo img{
    height: 50px;
    text-align: center;
    margin-top: -440px;
    margin-left: 380px;margin-top: 120px;
}
